.current-weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: $spacing-16 $spacing-20;
  border: $line-weight solid $primary-color;
  border-radius: $border-radius;
  background-color: $tertiary-color;

  .current-weather-icon {
    min-height: 96px;
    min-width: 96px;
    height: 96px;
    width: 96px;
    margin: $spacing-14 $spacing-16;
  }

  .current-weather-temperature {
    @include typography($font-size-36, $medium-500, $primary-color);
    width: auto;
    margin: $spacing-14 $spacing-16;
  }

  .current-weather-description {
    @include typography($font-size-16, $regular-400, $primary-color);
    width: auto;
    margin: $spacing-0 $spacing-16 $spacing-14 $spacing-16;
  }

  .current-location-container {
    display: flex;
    align-items: center;
    margin: $spacing-14 $spacing-16;

    svg {
      min-height: 24px;
      min-width: 24px;

      path {
        stroke: $primary-color;
      }
    }

    .current-location {
      @include typography($font-size-16, $regular-400, $primary-color);
      width: 100%;
      margin-left: $spacing-12;
    }
  }

  .current-date-container {
    display: flex;
    align-items: center;
    margin: $spacing-0 $spacing-16 $spacing-14 $spacing-16;

    svg {
      min-height: 24px;
      min-width: 24px;

      path {
        fill: $primary-color;
      }
    }
    .current-date {
      @include typography($font-size-16, $regular-400, $primary-color);
      width: 100%;
      margin-left: $spacing-12;
    }
  }
}
.sunny-animation {
  animation: sunnyEffect 3s infinite;
  background: linear-gradient(to top, #f7b733, #fc4a1a);
}

.cloudy-animation {
  animation: cloudyEffect 3s infinite;
  background: linear-gradient(to top, #bdc3c7, #2c3e50);
}

.rainy-animation {
  animation: rainyEffect 3s infinite;
  background: linear-gradient(to top, #1e3c72, #2a5298);
}

.snowy-animation {
  animation: snowyEffect 3s infinite;
  background: linear-gradient(to top, #e6e9f0, #eef2f3);
}

.stormy-animation {
  animation: stormyEffect 3s infinite;
  background: linear-gradient(to top, #232526, #414345);
}

/* Example animation keyframes */
@keyframes sunnyEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cloudyEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rainyEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes snowyEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes stormyEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
